In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [11]:
data=pd.read_csv("test.csv")
data.head(5)

   ID  Value    State
0   1     12    Delhi
1   2     21   Mumbai
2   3     32  Chennai
3   4     26    Delhi
4   5     65  Chennai

In [14]:
real_x=data.iloc[:,0:2].values
real_y=data.iloc[:,2].values
real_y

array(['Delhi', 'Mumbai', 'Chennai', 'Delhi', 'Chennai', 'Delhi',
       'Mumbai'], dtype=object)

In [19]:
le=LabelEncoder()
real_x[:,1]=le.fit_transform(real_x[:,1])
real_x[:,1]

array([0, 1, 3, 2, 4, 0, 3], dtype=int64)